.container {
  display: grid;
  gap: calc(4 * var(--gap));
}

.description {
  text-align: justify;
  max-width: 65rem;
  font-size: 1.5rem;
}

.list {
  display: grid;
  gap: calc(2 * var(--gap));
}

.keyPoint {
  text-align: justify;
  max-width: 55rem;
}
