@mixin desktop {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 750px) {
    @content;
  }
}

@mixin tablet-sm {
  @media (max-width: 620px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin textShadow($percent) {
  background: linear-gradient(
    to right,
    var(--text-color),
    color-mix(in srgb, var(--text-color) $percent, transparent)
  );
  color: transparent;
  background-clip: text;
}

@mixin imageShadow {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(black, 0.2), rgba(black, 0.5));
    height: 100%;
    width: 100%;
  }
}
