[data-theme="light"] {
  --bg-color: var(--white);
  --bg-color-100: var(--white);
  --text-color: var(--black);
  --button-default-bg-color: var(--black);
  --button-default-text-color: var(--white);
}

[data-theme="dark"] {
  --bg-color: var(--black);
  --bg-color-100: var(--black-100);
  --text-color: var(--white);
  --button-default-bg-color: var(--white);
  --button-default-text-color: var(--black);
}
