.container {
  display: grid;
  gap: calc(2 * var(--gap));
  margin: 0 auto;
  margin-top: calc(8 * var(--margin));
}

.title {
  text-align: left;
  text-wrap: initial;
}

.heading {
  text-transform: uppercase;
  font-size: 6rem;
  animation: animate ease-in-out 1.8s infinite alternate;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(3 * var(--margin));

  // @include for-phone-only {
  //   flex-direction: column;
  // }
}

.image {
  position: absolute;
}

.imageWrapper {
  border-radius: 100%;
  max-width: 100px;
  height: 100px;
  overflow: hidden;
}

.description {
  max-width: 800px;
}

.footer {
}

.contactMe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  gap: calc(2 * var(--gap));
  text-transform: uppercase;
}

.iconWrapper {
  display: block;
  width: 25px;
  height: 25px;
}

.icon {
  width: 100%;
  height: 100%;
}

.brands {
  display: flex;
}
