.container {
  display: grid;
  gap: calc(2 * var(--gap));
  margin-top: calc(8 * var(--margin));
}

.title {
  text-align: left;
  text-wrap: initial;
}

.heading {
  @include textShadow(10%);
  text-transform: uppercase;
  animation: animate ease-in-out 1.8s infinite alternate;
}

.imageWrapper {
  border-radius: 100%;
  max-width: 90px;
  height: 90px;
  overflow: hidden;
}
