.aboutMe {
  @include grid(275px);
  gap: calc(3 * var(--gap));

  @include desktop {
    gap: calc(8 * var(--gap));
  }
}

.headingContainer {
  @include textShadow(10%);
}

.imageWrapper {
  @include imageShadow;
  border-radius: 25px;
  max-width: 350px;
  overflow: hidden;

  @include desktop {
    max-width: 250px;
  }
}

.text {
  @include textShadow(50%);
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 1.5rem;
}
