.container {
  display: grid;
  gap: calc(4 * var(--gap));
}

.tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: calc(2 * var(--gap));
  row-gap: calc(2 * var(--gap));

  @include desktop {
    grid-template-columns: 1fr;
    gap: calc(2 * var(--gap));
  }
}
