.container {
  display: grid;
  gap: calc(2 * var(--gap));
  padding: var(--padding-main);
}

.main {
  margin: 0 auto;
  padding-top: var(--navigation-height);

  @include desktop {
    max-width: 800px;
  }

  @include tablet-lg {
    max-width: 390px;
  }
}
