.container {
  margin: 0 auto;
  max-width: var(--container-width);

  display: grid;
  gap: calc(2 * var(--gap));
  padding: 0 var(--padding-main);

  @include desktop {
    max-width: 800px;
  }

  @include tablet-lg {
    max-width: 390px;
  }
}

.main {
  padding-top: var(--navigation-height);
}
