.container {
  z-index: 10;
  background-color: var(--bg-color);
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.75;
  /* Mozilla */
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 35px var(--padding-main);
  height: var(--navgiation-height);

  @include mobile {
    display: none;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: calc(2 * var(--gap));

  @include mobile {
    flex-direction: column;
    gap: 0;
  }
}

.burgerMenu {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 25px;
  width: 35px;
  cursor: pointer;

  @include mobile {
    display: block;
  }

  .line {
    content: "";
    position: absolute;
    left: 0;
    background-color: var(--text-color);
    height: 2px;
    width: 100%;
  }

  .line:nth-child(0) {
    top: 0;
  }

  .line:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
  }

  .line:nth-child(2) {
    bottom: 0;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobileNavigation {
  position: relative;
  z-index: 10;
  margin-top: calc((5 * var(--padding)));
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);

  @include mobile {
    display: block;
  }
}
