.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  display: flex;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 15px var(--padding-main);
  height: var(--navgiation-height);
}

.list {
  display: flex;
  align-items: center;
}
