.container {
  z-index: 10;
  background-color: var(--bg-color);
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.75;
  /* Mozilla */
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  margin: 0 auto;
  max-width: var(--container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px var(--padding-main);
  height: var(--navigation-height);
}

.list {
  display: flex;
  align-items: center;
  width: 100%;
  gap: calc(2 * var(--gap));

  @include mobile {
    flex-direction: column;
  }
}

.spacer {
  flex: 1;

  @include mobile {
    display: none;
  }
}
