.container {
  z-index: 10;
  background-color: var(--bg-color);
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.75;
  /* Mozilla */
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  margin: 0 auto;
  max-width: var(--container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px var(--padding-main);
  height: var(--navigation-height);
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: calc(2 * var(--gap));
  }

  .right {
    justify-self: end;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: calc(2 * var(--gap));

    .left,
    .right {
      justify-content: center;
    }

    .right {
      flex-direction: column;
      justify-self: center;
    }
  }
}
