.container {
  z-index: 10;
  background-color: var(--bg-color);
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.75;
  /* Mozilla */
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 35px var(--padding-main);
  height: var(--navgiation-height);
}

.list {
  display: flex;
  align-items: center;
  gap: calc(2 * var(--gap));
}
