.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(2 * var(--gap));
  margin-top: calc(3 * var(--margin));

  @include desktop {
    flex-direction: column;
    align-items: start;
    gap: calc(6 * var(--gap));
  }
}

.description {
  max-width: 800px;
  font-size: 1.1rem;
  text-align: left;
}
