.button {
  transition: all 0.5s ease-in-out;

  &:hover {
    filter: brightness(60%);
  }
}

.default {
  background-color: var(--button-default-bg-color);
  color: var(--button-default-text-color);
  padding: 10px 15px;

  transition: all 0.5s ease-in-out;
}

.rounded {
  border-radius: 15px;
}
