.button {
  font-weight: bold;
  transition: all 0.3s ease-in-out;

  &:hover {
    filter: brightness(60%);
  }
}

.default {
  background-color: var(--button-default-bg-color);
  color: var(--button-default-text-color);
}

.rounded {
  border-radius: 15px;
}

.small {
  padding: 10px 15px;
}

.medium {
  padding: 10px 15px;
}

.large {
  font-size: 1.2rem;
  padding: 15px 25px;
}
