*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body > #root {
  height: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  line-height: 1.5;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  isolation: isolate;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  font-size: 1.1rem;
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  cursor: pointer;
}

h1 {
  font-size: 6rem;

  @include desktop {
    font-size: 4rem;
  }

  @include tablet-lg {
    font-size: 3rem;
  }
}
